* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
@media print {
 .table, .table__body {
  overflow: visible;
  height: auto !important;
  width: auto !important;
 }
}

/*@page {
    size: landscape;
    margin: 0; 
}*/



.table{
    background: #e2e4e7;
    position: absolute;
    left: 17%;
    width: 80%;
    top: 13%;
    border-radius: 20px;
}
.table__header {
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding: 1rem 2rem;
}

.table__header .input-group {
    width: 30%;
    height: 100%;
    background-color: #fff5;
    padding: 1rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .2s;
}

.view-dtl{
    width: 17%;
}

.view-dtl a button{
    border-radius: 20px;
    padding: 0.5rem 1rem;
    background: linear-gradient(to right , #3266eb, #055470);
    outline: none;
    border: none;
    color: #fbfbfb;
    font-weight: bolder;
    font-size: 14px;
    transition: linear;
}

.view-dtl a button:hover{
    border-radius: 20px;
    padding: 0.5rem 1rem;
    background: linear-gradient(to right , #052065, #061a21);
    outline: none;
    border: none;
    color: #fbfbfb;
    font-weight: bolder;
    font-size: 14px;
}

.table__header .input-group:hover {
    width: 32%;
    background-color: #fff8;
    box-shadow: 0 .1rem .4rem #0002;
}

.table__header .input-group img {
    width: 1.2rem;
    height: 1.2rem;
}

.table__header .input-group input {
    width: 40%;
    padding: 0 .5rem 0 .3rem;
    background-color: transparent;
    border: none;
    outline: none;
}

.table__body {
    width: 95%;
    max-height: calc(89% - 1.6rem);
    background-color: #fffb;

    margin: .8rem auto;
    border-radius: .6rem;

    overflow: auto;
    overflow: overlay;
}


.table__body::-webkit-scrollbar{
    width: 0.5rem;
    height: 0.5rem;
}

.table__body::-webkit-scrollbar-thumb{
    border-radius: .5rem;
    background-color: #0004;
    visibility: hidden;
}

.table__body:hover::-webkit-scrollbar-thumb{ 
    visibility: visible;
}


table {
    width: 100%;
}

td img {
    width: 36px;
    height: 36px;
    margin-right: .5rem;
    border-radius: 50%;

    vertical-align: middle;
}

table, th, td {
    border-collapse: collapse;
    padding: 1rem;
    text-align: left;
}

thead th {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #d5d1defe;
    cursor: pointer;
    text-transform: capitalize;
}

tbody tr:nth-child(even) {
    background-color: #0000000b;
}

tbody tr {
    --delay: .1s;
    transition: .5s ease-in-out var(--delay), background-color 0s;
}

tbody tr.hide {
    opacity: 0;
    transform: translateX(100%);
}

tbody tr:hover {
    background-color: rgba(33, 63, 210, 0.4) !important;
}

tbody tr td,
tbody tr td p,
tbody tr td img {
    transition: .2s ease-in-out;
}

tbody tr.hide td,
tbody tr.hide td p {
    padding: 0;
    font: 0 / 0 sans-serif;
    transition: .2s ease-in-out .5s;
}

tbody tr.hide td img {
    width: 0;
    height: 0;
    transition: .2s ease-in-out .5s;
}

.status {
    padding: .4rem 0;
    border-radius: 2rem;
    text-align: center;
    width: 100px;
}

.status.delivered {
  background-color: #00ffb738;
  color: #005f5d;
  outline: 1px solid #013c2c69;
  cursor: pointer;
}

.status.cancelled {
    background-color: #ff000038;
  color: #5f0000;
  outline: 1px solid #3c010169;
  cursor: pointer;
}

.status.pending {
    background-color: #ff8c0038;
    color: #5f2600;
    outline: 1px solid #3c150169;
    cursor: pointer;
}

.status.shipped {
    background-color: #6fcaea;
}

.status-btn{
    display: flex;
    gap: 1rem;
}


@media (max-width: 1000px) {
    td:not(:first-of-type) {
        min-width: 12.1rem;
    }
}

thead th span.icon-arrow {
    display: inline-block;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    border: 1.4px solid transparent;
    
    text-align: center;
    font-size: 1rem;
    
    margin-left: .5rem;
    transition: .2s ease-in-out;
}

thead th:hover span.icon-arrow{
    border: 1.4px solid #6c00bd;
}

thead th:hover {
    color: #6c00bd;
}

thead th.active span.icon-arrow{
    background-color: #6c00bd;
    color: #fff;
}

thead th.asc span.icon-arrow{
    transform: rotate(180deg);
}

thead th.active,tbody td.active {
    color: #6c00bd;
}

.export__file {
    position: relative;
}
.export__file label i{
    margin-top: 0.5rem;
    max-width: 20px;
}

.export__file .export__file-btn {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background: #fff6 url(images/export.png) center / 80% no-repeat;
    border-radius: 50%;
    transition: .2s ease-in-out;
}

.export__file .export__file-btn:hover { 
    background-color: #ffffff;
    transform: scale(1.15);
    cursor: pointer;
}

.export__file input {
    display: none;
}

.export__file .export__file-options {
    position: absolute;
    right: 0;
    
    width: 12rem;
    border-radius: .5rem;
    overflow: hidden;
    text-align: center;

    opacity: 0;
    transform: scale(.8);
    transform-origin: top right;
    
    box-shadow: 0 .2rem .5rem #0004;
    
    transition: .2s;
}

.export__file input:checked + .export__file-options {
    opacity: 1;
    transform: scale(1);
    z-index: 100;
}

.export__file .export__file-options label{
    display: block;
    width: 100%;
    padding: .6rem 0;
    background-color: #f2f2f2;
    
    display: flex;
    justify-content: space-around;
    align-items: center;

    transition: .2s ease-in-out;
}

.export__file .export__file-options label:first-of-type{
    padding: 1rem 0;
    background-color: #86e49d !important;
}

.export__file .export__file-options label:hover{
    transform: scale(1.05);
    background-color: #fff;
    cursor: pointer;
}

.export__file .export__file-options img{
    width: 2rem;
    height: auto;
}
.delivered-pending{
    background-color: #b7b7b7d7;
    width: 95%;
    padding: 3rem;
    margin-left: 2.5%;
    border-radius: 8px;
    margin-bottom: 2rem;

}

.view-order{
    padding: 0.5rem;
    outline: none;
    border: none;
    border-radius: 8px;
    background-color: #002a96;
    color: #fff;
}

.view-order:hover{
    background-color: #004bd7b8;
}

/* Customer order Admin view*/

.customer-order {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    z-index: 999;
    overflow: auto;
    padding-top: 50px;
}
.cus-table {
    position: relative;
    border-collapse: collapse;
    margin-top: 30px;
}

.order-container {
    max-width: 800px;
    background-color: #fff;
    margin: auto;
    border-radius: 12px;
    padding: 30px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.order-head {
    margin-top: 0;
    font-size: 24px;
    border-bottom: 2px solid #d6e3fb;
}

.section-title {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 8px;
    color: #5c5c5c;
    background: #ffffff;
    padding: 0.1rem;
    padding-left: 1rem;
    border-radius: 9px;
    box-shadow: 0px 2px 2px #58a0ff9d;
}

.section-title:nth-child(1){
    margin-top: 0.5rem;
}

  .info-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1rem;
    font-size: 18px;
}
  .info-grid div {
    margin-bottom: 5px;
}
  .status-badge {
    display: inline-block;
    padding: 5px 12px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 600;
}
  .pending { background-color: #ffcc80; color: #8a5200; }
  .delivered { background-color: #c8e6c9; color: #2e7d32; }

    .table-th, .table-td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #eee;
  }
    .table-th {
    background-color: #fafafa;
    font-size: 14px;
  }
  .total-row .table-td {
    font-weight: 600;
    background-color: #f0f0f0;
  }

  .btn-section{
    margin-top: 1rem;
  }
  .mark-btn, .mark-btn-close , .mark-btn-accepted {
    display: inline-block;
    padding: 10px 20px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }

  .mark-btn-accepted{
    background-color: #001b5f;
  }
  
  .mark-btn-close{
    background-color: #ff2121;
  }
  .mark-btn:hover {
    background-color: #4cae4c;
  }

  .status-badge.delivered {
    
    color: rgb(5, 56, 9);
    border-radius: 20px;
}

  .status-badge.accepted {
    color: rgb(255, 255, 255);
    border-radius: 20px;
}